<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Dojo Survey</title>
</head>

<body class="d-flex justify-content-center bg-secondary">

    <div class="card bg-dark text-white p-3" style="width: 22rem;">
        <div class="card-header text-warning fs-2 p-0 mb-2"><b>Dojo Survey</b></div>
        <form action="/process" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Your Name:</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Your Name here...">
            </div>
            <label for="location" class="form-label">Dojo Location:</label>
            <select class="form-select" name="location" aria-label="location">
                <option selected disabled>Select Location...</option>
                <option value="bellevue">Bellevue</option>
                <option value="burbank">Burbank</option>
                <option value="chicago">Chicago</option>
                <option value="seattle">Seattle</option>
                <option value="online">Online</option>
            </select>
            <label for="language" class="form-label">Favorite Language:</label>
            <select class="form-select" name="language" aria-label="language">
                <option selected disabled>Select Language...</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="c#">C#</option>
                <option value="javascript">JavaScript</option>
                <option value="html">HTML</option>
                <option value="css">CSS</option>
            </select>
            <div class="mb-3">
                <label for="comment" class="form-label">Comments (optional)</label>
                <textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
        {% for message in get_flashed_messages() %}
        <p>{{message}}</p>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>