<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Dojo Survey</title>
</head>

<body>

    <div class="container border rounded">
        <form action="/process" method="post">
            <div class="form-group row m-3">
                <label for="name" class="col-sm-2 col-form-label float-left">Your Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control float-right" name="name" id="name" placeholder="Name...">
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="location" class="col-sm-2 col-form-label">Dojo Location:</label>
                <div class="col-sm-2">
                    <select class="form-control" name="location" id="location" placeholder="--Select A Location--">
                        <option value="bellevue">Bellevue</option>
                        <option value="burbank">Burbank</option>
                        <option value="chicago">Chicago</option>
                        <option value="seattle">Seattle</option>
                        <option value="online">Online</option>
                    </select>
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="language" class="col-sm-2 col-form-label">Favorite Language:</label>
                <div class="col-sm-2">
                    <select class="form-control" name="language" id="language" placeholder="--Select A Language--">
                        <option value="python">Python</option>
                        <option value="java">Java</option>
                        <option value="c#">C#</option>
                        <option value="javascript">JavaScript</option>
                        <option value="html">HTML</option>
                        <option value="css">CSS</option>
                    </select>
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="comments" class="col-sm-2 col-form-label">Comments:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="comments" id="comments" rows="5">
                </div>
            </div>
            <div class="form-group row m-3">
                <button type="submit" class="btn btn-primary col-sm-2">Submit</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>