<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Counter</title>
</head>

<body>
    <header>
        <h1>Counter</h1>
    </header>

    <p>You've been here {{session.count}} time(s)!</p>

    <div class="container">
        <form action="/process" method="post">
            <button class="click btn btn-outline-warning" name="click">Click</button>
        </form>

        <form action="/destroy_session" method="post">
            <button class="reset btn btn-outline-danger" name="reset">Reset</button>
        </form>
    </div>
    <div class="container2">
        <form action="/add2" method="post">
            <button class="add2 btn btn-outline-primary" name="add2">Add 2!</button>
        </form>
        <form action="/add_any" method="post">
            <label for="add_any">Add Any Number:</label>
            <input type="number" name="add_any" id="add_any">
        </form>
    </div>

    <p>Actual number of visits: {{session.true_count}}</p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>